{% extends 'base.html.twig' %}

{% block title %}Корзина{% endblock %}

{% block body %}
    <h1>Корзина</h1>
    <div id="app-cart">
    </div>

    {% if pendingOrders is not empty %}
        <div class="order-section">
            {% for order in pendingOrders %}
                <a href="{{ path('order_edit_shipping_address', {'id': order.id}) }}" class="order-btn">Ожидает оплаты</a>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

