{# templates/admin/dashboard.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
    Admin Dashboard
{% endblock %}

{% block main %}
    <p>Welcome to the Admin Dashboard!</p>
{% endblock %}