{% extends 'base.html.twig' %}

{% block title %}Редактировать адрес доставки{% endblock %}

{% block body %}
    <h1>Редактировать адрес доставки</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}